<template>
  <div class="hello">
    <img class="logo" src="../assets/logo.png">
    <h1 class="title">{{ title }}</h1>
    <p>{{message}}</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      title: 'Welcome to Your Vue.js App',
    };
  },
  computed: {
    message() {
      if (!this.address) {
        return 'Enter an address to check balance';
      }
      return this.balance ? `${this.address} has a current balance of ${this.balance}` : 'Retrieving balance';
    },
    ...mapGetters([
      'endpoint',
      'address',
      'balance',
      'connected',
    ]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
img.logo{
  max-width: 350px;
}
div.hello {
  text-align: center;
}
</style>
