<template>
  <div>
    <TransactionForm/>
    <div class="spacer"> </div>
    <h1 class="title is-3">Most recent transactions</h1>
    <TransactionTable/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import TransactionForm from './TransactionForm';
import TransactionTable from './TransactionTable';

export default {
  computed: {
    ...mapGetters([
      'endpoint',
      'socket',
      'address',
      'transactions',
    ]),
  },
  components: {
    TransactionForm,
    TransactionTable,
  },
};
</script>

<style scoped>
.spacer {
  padding: 1em 0;
}
.spacer:before {
  content: "";
}
</style>