<template>
  <div>
    <form v-on:submit="startTransaction">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">From Address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control is-expanded">
              <input :value="address" @input="updateAddress" v-bind:class="{ 'is-danger': isNotValidAddress }" class="input" type="text" placeholder="From address">
            </div>
            <div v-show="isNotValidAddress" class="help is-danger is-pulled-left">Invalid address</div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Private Key</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-model="privateKey" class="input" type="text" placeholder="From private key">
            </div>
            <div v-show="isNotValidKey" class="help is-danger is-pulled-left">Private key and address mismatch</div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">To Address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-model="toAddress" class="input" type="text" placeholder="To address">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Message</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-model="message" class="input" type="text" placeholder="Message">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Amount</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input v-model="amount" v-bind:class="{ 'is-danger': isNotValidAmount }" class="input" type="text" placeholder="Amount">
            </div>
            <div v-show="isNotValidAmount" class="help is-danger is-pulled-left">Invalid amount specified</div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Fee</label>
        </div>
        <div class="field-body">
          <div class="field is-grouped">
            <div class="control">
              <input v-model="fee" class="input" type="number" placeholder="Fee" readonly>
            </div>
            <div class="control">
              <button type="submit" class="button">
                Transfer
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import nem from 'nem-sdk';
import { mapGetters } from 'vuex';

import { connect } from '../helper/socket';

export default {
  data() {
    return {
      amount: 0.0001,
      message: '',
      privateKey: '',
      toAddress: '',
      isNotValidAddress: null,
      isNotValidKey: null,
    };
  },
  computed: {
    isNotValidAmount() {
      return !nem.utils.helpers.isTextAmountValid(this.amount);
    },
    fee() {
      const common = {
        password: '',
        privateKey: this.privateKey,
      };

      // Create an object with parameters
      const transferTransaction = nem.model.objects.create('transferTransaction')(this.toAddress, nem.utils.helpers.cleanTextAmount(this.amount), this.message);

      // Prepare the above object
      const transactionEntity = nem.model.transactions.prepare('transferTransaction')(common, transferTransaction, nem.model.network.data.testnet.id);

      const feeSplit = nem.utils.format.nemValue(transactionEntity.fee);

      return `${feeSplit[0]}.${feeSplit[1]}`;
    },
    ...mapGetters([
      'endpoint',
      'address',
    ]),
  },
  methods: {
    updateAddress(e) {
      this.isNotValidAddress = !nem.model.address.isValid(e.target.value);
      if (!this.isNotValidAddress) {
        this.$store.dispatch('updateAddress', e.target.value).then(() => {
          connect();
        });
      }
    },
    startTransaction(e) {
      e.preventDefault();

      const network = nem.model.network.data.testnet.id;
      // Validation checks

      // Check if private key matches from address
      this.isNotValidKey = !nem.crypto.helpers.checkAddress(this.privateKey, network, this.address);

      if (this.isNotValidKey) return;

      const common = {
        password: '',
        privateKey: this.privateKey,
      };

      // Create an object with parameters
      const transferTransaction = nem.model.objects.create('transferTransaction')(this.toAddress, nem.utils.helpers.cleanTextAmount(this.amount), this.message);

      // Prepare the above object
      const transactionEntity = nem.model.transactions.prepare('transferTransaction')(common, transferTransaction, network);

      nem.model.transactions.send(common, transactionEntity, this.endpoint).then((res) => {
        if (res.code >= 2) {
          console.log(res); // Deal with this later
        } else {
          if (res.type === 1) {
            this.$store.commit('updateLastTransactionHash', res.transactionHash);
          }
        }
      });
    },
  },
};
</script>