<template>
  <div style="overflow-x:auto;">
    <table class="table is-fullwidth ">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Transaction ID</th>
          <th>Amount</th>
          <th>Destination</th>
          <th>Message</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(t, index) in transactions"
          :key="t.meta.hash.data">
          <td>{{t.meta.id}}</td>
          <td>{{t.transaction.timeStamp | formatTimeStamp}}</td>
          <td>{{t.meta.hash.data}}</td>
          <td>{{t.transaction.amount | formatBalance}}</td>
          <td>{{t.transaction.recipient}}</td>
          <td>{{t.transaction.message.payload | formatMessage}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import nem from 'nem-sdk';
import { mapGetters } from 'vuex';
import { formatBalance } from '../helper';

export default {
  computed: {
    ...mapGetters([
      'transactions',
    ]),
  },
  filters: {
    formatBalance: value => formatBalance(value),
    formatTimeStamp: value => nem.utils.format.nemDate(value),
    formatMessage: value => nem.utils.format.hexToUtf8(value),
  },
};
</script>

<style scoped>
table {
  table-layout: fixed;
  white-space: normal!important;
}

td {
  word-wrap: break-word;
  max-width: 300px;
}
</style>