<template>
  <div class="container is-fluid" id="app">
    <HelloWorld/>
    <section class="section">
      <Transaction/>
    </section>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld';
import Transaction from './components/Transaction';

export default {
  name: 'app',
  components: {
    HelloWorld,
    Transaction,
  },
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
pre {
  text-align: left;
}
</style>
